.gridFeatures {
    display: grid;
    gap: 25px;
    grid-template-columns: 50% 50%;
}
.flex {
    display: flex;
    align-items: center;
}
.flex a {
    color: #007ace;
    text-decoration: none;
    display: block;
}
.Polaris_card {
    padding: 2rem;
}
.Polaris_Thumbnail {
    height: 5rem;
    flex: 0 0 5rem;
    background: #f6f6f6;
}
.list_icons {
    background-color: #f6f6f6;
    padding: 20px;
    margin-right: 10px;
}
.secondary_text {
    color: rgb(116 113 113);
}
.lm_quote_page_width {
    max-width: 1200px;
    margin: auto;
}
.overall_card {
    margin-top: 20px;
}

.notification-bar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #0348bc;
    clear: both;
    z-index: 999;
  }
  
  #notification-bar .container {
    width: 900px;
    height: 45px;
    margin: 0 auto;
    padding: 5px;
  }
  
  #notification-bar p {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    float: left;
    margin: 0 25px 0 0;
    padding: 0;
    line-height: 45px;
    color: #fff;
  }
