@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

.react-responsive-modal-root div:empty {
    display: block;
}

.Diamond-form .requested-form {
    margin-bottom: 20px;
}

.Diamond-form form .prefrence-action {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.Diamond-form form .prefrence-action .preference-btn {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    margin-right: 20px;
}

.react-responsive-modal-container {
    overflow-y: hidden;
}

.react-responsive-modal-modal {
    display: block;
    padding: 15px;
    margin: 20px auto;
    max-height: 700px;
    width: 500px;
    margin: 0 auto;
    overflow-y: hidden;
    border: 2px solid black;
}

.Diamond-form .requested-form {
    margin-bottom: 0;
}

.requested-form p {
    margin-bottom: 15px;
}

.react-responsive-modal-root .react-responsive-modal-closeButton {
    background-color: #000;
    right: 0;
    top: 0;
}

.react-responsive-modal-root .react-responsive-modal-closeButton svg path {
    fill: #fff;
}

.contact-prefrtence .pref_container label .MuiFormControlLabel-label,
.contact-prefrtence span {
    font-size: 15px;
}

.ring-descreption {
    margin-top: 25px;
}

.react-responsive-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .react-responsive-modal-modal {
        width: 90%;
    }
}
.prefrence-action .preference-btn {
    background-color: transparent;
    color: #000;
}
.prefrence-action .preference-btn:hover {
    background-color: #000;
    color: #fff;
    transition: 0.5s;
}
