.lm_sticky_cart
{
  position: fixed;
  width: 100%;
  z-index: 999;
}
.lm_container{
transition-duration: 2s;
transition-timing-function: ease-in;
transition-delay: 2s;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 15px;
  }

.lm_cart_module{
display: flex;
align-items: center;
justify-content: space-between;
}
.lm_pro_image{
  display: flex;
  align-items: center;
  width: 35%;
}
.lm_pro_image img{
object-fit: cover;
margin-right: 15px;
}
.lm_middlecontent .pro_names{
margin: 0;
display: inline-block;
}
.lm_quantity_selector {}
.lm_options{
  margin: 0 7px;
}
.lmblock_right{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 60%;

}
.lm_middlecontent span{
position: relative;margin-right: 20PX;font-size: 15px;
}
.lm_middlecontent span.compare_lm_price{
  text-decoration: line-through;font-size: 15px;
}
.lm_middlecontent .simple_price::before{
  position: absolute;
  content: '';
  background-color: #000;
  height: 13px;
  width: 1px;
  left: -10px;
  top:2px;
  }
  .lm_middlecontent .lm_out_stock::before , .lm_middlecontent .lm_sale::before{
    position: absolute;
    content: '';
    background-color: #000;
    height: 13px;
    width: 1px;
    left: -10px;
    top:4px;
    }
.lmblock_right .lm_quantity_selector {
margin: 0 15px 0 8px;
}
.lm_buy_btn button{
  cursor: pointer;
  transition: .2s ease-out;
  border-style: solid;
}
.select_size {

}
.productInputs label{
  color: #000;
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
}
.var_options{
  display: flex;
  align-items: center;
}
.button_block{
  display: flex;
  align-items: center;
}
.lm_out_stock{
  background-color: #931111;
  color: #fff;
  padding: 2px 10px;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  width: auto;
  border-radius: 15px;

}
.lm_sale{
  background-color: #30874d;
  color: #fff;
  padding: 2px 10px;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  width: auto;
  border-radius: 15px;
}

.css-7pg0cj-a11yText{
  display: none;
}










@media screen and (max-width: 1100px) {
  .lm_sticky_cart{
    height: auto !important;
    padding: 10px 0;
  }
  /* .lm_cart_module{
   flex-direction: column;
  } */

  .button_block{
    margin-top: 10px;
  }
  /* .lm_pro_image{
      width: 100%;
      align-items: start;
  } */
}
@media screen and (max-width: 991px) {
  .lm_cart_module{
    display: block;
  }
  .button_block{
    margin-top: 0;
  }
  .lm_pro_image{
    width: auto;
  }
  .lmblock_right{
    width: auto;
  }
}
@media screen and (max-width: 767px) {

  /* .lm_cart_module{
    padding: 10px;
  } */
  .button_block{
    margin-top:10px;
  }
  .lm_middlecontent h5{
    font-size: 14px;}
    .lm_container{
      padding: 0 6px;
    }
    .lmblock_right > div{
      margin-bottom: 0;
      justify-content: center;
    }
    .lmblock_right{
     display: block;
    }
    .lm_pro_image{
      align-items: center;
      margin-bottom: 8px;
      justify-content: center;
  }
  .productInputs label{
    /* display: none; */
  }
  .lm_cart_module{
    display: block;
  }
 }

