#notification_bar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #0348bc;
    clear: both;
    z-index: 999;
  }
  
  #notification_bar .nbcontainer {
    margin: 0 auto;
    padding: 5px;
  }
  
  #notification_bar p {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    float: left;
    margin: 0 25px 0 0;
    padding: 0;
    line-height: 45px;
    color: #fff;
  }