.lm_sticky_cart {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.lm_container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
}

.lm_cart_module {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lm_pro_image {
    display: flex;
    align-items: center;
}

.lm_pro_image img {
    object-fit: cover;
    margin-right: 0;
    height: 90%;
    width: 100%;
    padding: 5px;
    /* border: 1px solid #ddd;
    border-radius: 3px; */
}

.lm_middlecontent .pro_names {
    display: inline-block;
    margin: 0 22px 0 0;
}

.lm_quantity_selector {
    margin: 0 0;
}

.lm_options {
    margin: 0 0;
}

.lmblock_right {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.lm_middlecontent span {
    position: relative;
    margin-right: 10px;
}

.lm_middlecontent span.compare_lm_price {
    text-decoration: line-through;
}

/* .lm_middlecontent .simple_price::before,
.lm_middlecontent .compare_lm_price::before {
    position: absolute;
    content: "";
    background-color: #999999;
    height: 15px;
    width: 1px;
    left: -10px;
    top: 0;
    top: 50%;
    transform: translate(0px, -50%);
}

.lm_middlecontent .lm_out_stock::before,
.lm_middlecontent .lm_sale::before {
    position: absolute;
    content: "";
    background-color: #999999;
    height: 15px;
    width: 1px;
    left: -11px;
    top: -3px;
    top: 50%;
    transform: translate(0px, -50%);
} */

/* .lmblock_right .lm_quantity_selector {
    margin: 0 15px 0 8px;
  } */
.lm_buy_btn {
    margin-left: 15px;
}
.lm_buy_btn button {
    /* cursor: pointer; */
    /* transition: .2s ease-out; */
    border-style: solid;
}

.select_size {
}
.lm_sticky_p_color {
    display: inline-flex;
    align-items: center;
}

.productInputs label {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    display: initial !important;
}

.var_options {
    display: flex;
    align-items: center;
}

.button_block {
    display: flex;
    align-items: center;
}

.lm_out_stock {
    background-color: #931111;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    width: auto;
    border-radius: 15px;
}

.lm_sale {
    background-color: #30874d;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    width: auto;
    border-radius: 15px;
}

@media screen and (max-width: 1100px) {
    .lm_sticky_cart {
        height: auto !important;
        padding: 10px 0;
    }

    /* .lm_cart_module{
     flex-direction: column;
    } */

    /* .lm_pro_image{
        width: 100%;
        align-items: start;
    } */
}

@media screen and (max-width: 991px) {
    .lm_cart_module {
        display: block;
    }

    .lmblock_right {
        justify-content: center;
        margin-top: 10px;
    }

    .lm_pro_image {
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    /* .lm_cart_module{
      padding: 10px;
    } */
    .button_block {
        margin-top: 10px;
    }

    .lm_middlecontent h5 {
        font-size: 14px;
    }

    .lm_container {
        padding: 0 6px;
    }

    .lmblock_right > div {
        margin-bottom: 0;
        justify-content: center;
    }

    .lmblock_right {
        display: block;
    }

    .lm_pro_image {
        align-items: center;
        margin-bottom: 8px;
        justify-content: center;
    }

    .productInputs label {
        display: none;
    }

    .lm_cart_module {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .lm_middlecontent .compare_lm_price::before {
        content: none;
    }
}
