.quantity-picker .quantity-display{
    padding: 0;
    background-color: #f3f3f3;
}
.quantity-modifier{
height: 40px;
width: 40px;
border: none;
}
.quantity-picker{
    background-color: #f3f3f3;
    border: none;
    border-radius: 0;
}
