/* DRAWER CSS START */
.lm_drawer_wrapper {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: all 0.5s ease-out;
}

.lm_drawer {
    height: 100%;
    width: 400px;
    overflow: hidden;
    /* padding: 12px; */
    margin: 0;
    background: #fff;
    overflow-y: auto;
    transition: all 0.5s ease;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
}

.lm_drawer_wrapper.lm_drawer_open {
    opacity: 1 !important;
    z-index: 40000;
}

.lm_drawer.lm_drawer_open {
    transform: translateX(0);
    visibility: visible;
    opacity: 1 !important;
    z-index: 40000;
}
.lm_drawer_header {
    position: relative;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.lm_drawer_content {
    position: relative;
}
.lm_drawer_title {
    font-size: 20px;
    font-weight: 600;
}
.lm_drawer_close_icon {
    height: 25px;
    width: 25px;
    font-size: 25px;
    font-weight: bold;
    color: #000;
    margin: auto 0;
    cursor: pointer;
}
.lm_drawer_free_shipping_bar {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.lm_free_shipping_heading {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 10px auto;
    line-height: normal;
}
.lm_shipping_bar__outer_div {
    display: block !important;
    height: 8px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    width: 80%;
    margin: 8px auto;
}
.lm_shipping_bar_inner_div {
    display: block !important;
    height: 8px;
    background: #000;
    border-radius: 8px;
    width: 66%;
    text-align: center;
    margin: 0;
    transition: width 0.5s ease;
}
span.lm_shipping_bar_sub_title {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: normal;
    width: 100%;
    display: block;
    color: #777;
}
.lm_drawer_cart_item_wrapper {
    display: flex;
    padding: 0 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.lm_drawer_cart_items {
    display: flex;
    flex-grow: 1;
    padding-top: 10px;
}
.lm_drawer_cart_items tbody {
    display: block;
    width: 100%;
}
.lm_cart_drawer_item_row {
    position: relative;
}
.lm_cart_drawer_item_row td:first-child {
    width: 30%;
}
.lm_cart_drawer_item_row td:nth-child(2) {
    width: 70%;
    padding: 0 10px 5px;
}
.lm_cart_item_img {
    width: 100%;
    height: auto;
    padding-right: 8px;
}
.lm_quantity_selector {
    margin-right: 15px;
    padding-top: 5px;
}
.lm_cart_item_title {
    padding-right: 15px;
}
.lm_cart_item_title a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5rem;
}
.lm_cart_item_price_wrapper {
    display: flex;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.lm_cart_item_actual_price {
    opacity: 1;
    margin-right: 8px;
    color: rgb(0 0 0);
}
.lm_cart_item_compare_price {
    text-decoration: line-through;
    opacity: 0.7;
}
.lm_cart_item_varient {
    display: flex;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.lm_cart_item_footer {
    display: flex;
    justify-content: space-between;
}
.lm_cart_item_price {
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.lm_cart_item_remove_icon {
    font-size: 25px;
    color: #000000cc;
    position: absolute;
    top: 0px;
    right: 0;
    cursor: pointer;
}
.lm_drawer_cart_footer {
    bottom: 0;
    position: sticky;
    background-color: white;
    width: 100%;
    padding: 10px 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.lm_cart_footer_sub_total {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    padding-bottom: 10px;
}
.lm_cart_footer_message {
    margin: auto;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    line-height: 1.5rem;
    color: #000;
    opacity: 0.6;
    font-size: 14px;
}
.lm_cart_footer_button_wrapper {
    padding-bottom: 8px;
}
.lm_cart_footer_button_wrapper button {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.lm_cart_footer_link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sc-text-color);
    font-size: 12px;
    padding: 10px 0;
    opacity: 0.8;
    text-decoration: none;
}
.lm_recommended_products_wrapper {
    padding: 0 16px 8px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.08); */
}
.lm_recommendation_header {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 1.5;
}
.lm_recommendation_list {
    padding: 0 8px;
}
.lm_recommended_product {
    display: flex;
    margin-top: 8px;
    padding: 8px;
    background: rgb(0 0 0 / 5%);
    justify-content: center;
}
.lm_rec_product_image {
    align-items: center;
    align-self: flex-start;
    display: flex;
    width: 30%;
}
.lm_rec_product_image img {
    height: auto;
    width: 100%;
    padding-right: 10px;
}
.lm_rec_product_content {
    width: 50%;
}
.lm_rec_product_title {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
}
.lm_rec_product_price {
    padding-top: 4px;
}
.lm_rec_product_price span {
    font-size: 14px;
    font-weight: 600;
    margin-right: 8px;
    letter-spacing: 0.5px;
    opacity: 0.6;
    color: #000;
}
.lm_rec_product_action {
    display: flex;
    justify-content: center;
}
.lm_rec_product_action button {
    margin: auto 5px;
    border: white;
    background: #000;
    color: #fff;
    border-radius: 10%;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    cursor: pointer;
}

/* BOTTOM SLIDER IN DRAWER */
.lm_Slide_div {
    position: sticky;
    z-index: 999999;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100px;
    background: #fff;
    padding: 1.5rem;
    box-shadow: 20px 0 20px #0000001f;
    transition: all 0.5s ease;
    transform: translateY(100%); /* Move from bottom to top */
    visibility: hidden;
    opacity: 0;
}
.lm_Slide_div_open {
    transform: translateY(0); /* Position at the bottom */
    visibility: visible;
    opacity: 1 !important;
}
.lm_Slide_close_btn {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
}
.lm_Slide_close_btn span {
    color: #000;
    font-size: 30px;
}
.lm_Slide_card {
    display: flex;
    align-items: center;
}
.lm_Slide_card .lm_Slide_pro_image {
    height: 100px;
    width: 100px;
    aspect-ratio: 1/1;
    margin-right: 15px;
}
.lm_Slide_card .lm_Slide_pro_image img {
    width: 100%;
    object-fit: cover;
}
.lm_Slide_pro {
    margin-left: 10px;
    width: 80%;
    text-align: left;
}
.lm_Slide_pro_title {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 600;
}
.lm_Slide_pro_price_wrapper {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    opacity: 0.6;
}
.lm_Slide_product_price {
    margin-right: 8px;
}
.lm_select__inline {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid #9e9e9e;
    padding: 10px;
    border-radius: 3px;
}
.lm_variation_select_label {
    width: 20%;
    font-weight: 600;
    font-size: 15px;
}
.lm_variation_select__select {
    width: 80%;
    border: none;
    outline: none;
}
.lm_variation_dropdown__variants {
    margin: 10px 0;
}
.lm_Add_to_cart button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 15px 30px;
    cursor: pointer;
    text-transform: capitalize;
    background: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .5px;
    border: none;
    border-radius: 8px;
}
.lm_Add_to_cart {
    margin-top: 10px;
}
.lm_bottom_overlay {
    overflow-y: hidden;
}
.lm_bottom_overlay::after {
    content: "";
    background: #000000a3;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
/* DRAWER CSS END */
