body {
    font-family: "Roboto", sans-serif;
}

.tool-container {
    text-align: center;
}
.lm-quote-page-width {
    max-width: 1280px;
    margin: 30px auto;
    width: 100%;
    padding: 0 20px;
}

.lm-quote-page-width--narrow {
    max-width: 800px;
}

.heading {
    font-size: 52px;
    line-height: 60px;
    margin-bottom: 30px;
}

.quote-cart-block {
    margin: 100px 0;
}

.product-data-table .table {
    width: 100%;
}

.product-data-table .table tr th {
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #ddd;
}

.product-data-table .table tr .cart-product__image {
    width: 18%;
    text-align: left;
}

.product-data-table .table tr .cart-product__name {
    width: 32%;
}

.product-data-table .table tr .cart-product__name a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.product-data-table .table tr .cart-product__quantity {
    /* display: flex;
    align-items: center;
    border: 1px solid #ddd; */
    width: 30%;
}

.product-data-table .table td.remove {
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.product-data-table .table td.pro_price {
    width: 10%;
    text-align: center;
}

.product-data-table .table tr .cart-product__quantity .input-group {
    display: flex;
    justify-content: center;
}

.product-data-table .table tr .cart-product__quantity .input-group button {
    background-color: #f6f6f6;
    padding: 8px 15px;
    border: 2px solid #ddd;
    font-size: 25px;
}

.product-data-table
    .table
    tr
    .cart-product__quantity
    .input-group
    .form-control {
    border: 2px solid #ddd;
    border-right: 0;
    border-left: 0;
    width: 50px;
    text-align: center;
    color: #000;
    font-size: 16px;
}

.product-data-table .table tr td {
    padding: 15px 0;
    border-bottom: 2px solid #ddd;
}

.product-data-table .table tr td img {
    height: 120px;
    width: 150px;
    object-fit: contain;
}

.product-data-table .table td.remove span {
    padding: 10px 15px;
    border: 2px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    margin: 0 auto;
}

.product-data-table .table td.remove span svg {
    height: 24px;
    width: 24px;
}

.request-a-quote-form label {
    display: block;
    margin-bottom: 10px;
}

.request-a-quote-form .form-fields {
    display: flex;
    align-items: center;
    margin: 0;
}

div {
    margin: 0;
}

.request-a-quote-form {
}

.form-fields .name {
    width: 97%;
    margin-right: 10px;
}

.MuiFormControl-root {
    width: 100%;
    margin-bottom: 10px !important;
}

.form-fields .email {
    width: 100%;
}

.request-a-quote-form {
    margin-top: 50px;
}

.btn.btn-outline-primary {
    cursor: pointer;
}

.loading_overlay_wrapper {
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 9999;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
}
.loading_overlay_wrapper div {
    background-color: rgba(0, 0, 0, 0.5) !important;
    /* background-image: url(../images/heart_loader.gif); */
    z-index: 9999;
    display: block !important;
}

.react-overlay-loader-spinner {
    width: 100%;
    height: 100%;
    background-size: auto;
    background-position: center;
    text-align: center;
    z-index: 99999999;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.preference-btn {
    z-index: 1 !important;
}
.form-fields input:focus-visible {
    box-shadow: none;
}
.form-fields p {
    margin: 0 0 10px 0;
    font-size: 14px;
}
.message p {
    margin: 0 0 10px 0;
    font-size: 14px;
}
.message textarea {
    box-shadow: none;
}
.request-input {
    margin-bottom: 0 !important;
}
@media screen and (max-width: 700px) {
}
